<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 外部 properties 配置文件 -->
	<properties resource="jdbc.properties" />
	<settings>
		<!-- 可选用SLF4J、LOG4J、LOG4J2、JDK_LOGGING、COMMONS_LOGGING、STDOUT_LOGGING其中之一 -->
		<setting name="logImpl" value="SLF4J" />
	</settings>
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- 该参数默认为false -->
			<!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
			<!-- 和startPage中的pageNum效果一样 -->
			<property name="offsetAsPageNum" value="true" />
			<!-- 该参数默认为false -->
			<!-- 设置为true时，使用RowBounds分页会进行count查询 -->
			<property name="rowBoundsWithCount" value="true" />
		</plugin>
	</plugins>
	<!--配置数据源 -->
	<environments default="development-mysql">
		<environment id="development-mysql">
			<transactionManager type="JDBC" />
			<dataSource type="com.kuta.base.database.DruidDataSourceFactory">
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
				<property name="filters" value="${druid.filters}" />
				<property name="maxActive" value="${druid.maxActive}" />
				<property name="initialSize" value="${druid.initialSize}" />
				<property name="maxWait" value="${druid.maxWait}" />
				<property name="minIdle" value="${druid.minIdle}" />
				<property name="timeBetweenEvictionRunsMillis" value="${druid.timeBetweenEvictionRunsMillis}" />
				<property name="minEvictableIdleTimeMillis" value="${druid.minEvictableIdleTimeMillis}" />
				<property name="validationQuery" value="${druid.validationQuery}" />
				<property name="testWhileIdle" value="${druid.testWhileIdle}" />
				<property name="testOnBorrow" value="${druid.testOnBorrow}" />
				<property name="testOnReturn" value="${druid.testOnReturn}" />
				<property name="poolPreparedStatements" value="${druid.poolPreparedStatements}" />
				<property name="maxPoolPreparedStatementPerConnectionSize"
					value="${druid.maxPoolPreparedStatementPerConnectionSize}" />
				<property name="testOnBorrow" value="${druid.testOnBorrow}" />
				<property name="removeAbandoned" value="${druid.removeAbandoned}"/>
				<property name="removeAbandonedTimeout" value="${druid.removeAbandonedTimeout}" />
				<property name="logAbandoned" value="${druid.logAbandoned}"/>
				<property name="commentAllow" value="${druid.commentAllow}"/>
				<property name="multiStatementAllow" value="${druid.commentAllow}"/>
			</dataSource>
		</environment>
	</environments>

	<!-- mappers：将 SQL 映射文件注册到全局配置中 -->
	<mappers>
		<!-- 引用类路径下的 SQL 映射文件 -->
		<package name="com.kuta.data.mysql.dao"></package>
	</mappers>
</configuration>